body{
  padding: 0;
  margin: 0;
  background-color: url('./src/assets/beauty2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#teamname {
  display: flex;
  position: fixed;
  bottom: 0px;
}